[2014-08-05 13:45] bigandy opened #4 "Remove attributes"
Great plugin, would really like to be able to remove fill="#abc123" from svg. Can do this with the grunt plugin with `cleanup: ['fill']`

[2014-08-05 13:49] bigandy opened #5 "Add inline style to svg wrapper"
Would love to be able to specify style="display: none" on parent svg. Alternatively would like to add a class.

[2014-08-06 16:42] #5 closed, assigned to nobody

[2014-08-11 06:52] #4 closed, assigned to nobody

[2014-08-18 08:31] bigandy opened #6 "TypeError: Cannot call method 'value' of null"
Getting this, and cannot run gulp now:

`/Applications/XAMPP/xamppfiles/htdocs/proj/wp-content/themes/proj/node_modules/gulp-svgstore/index.js:34
      var viewBoxAttr = xmlDoc.root().attr('viewBox').value()
                                                      ^
TypeError: Cannot call method 'value' of null
    at Transform.transform [as _transform] (/Applications/XAMPP/xamppfiles/htdocs/proj/wp-

[2014-08-18 11:45] #6 closed, assigned to nobody

[2014-08-21 14:39] CrowdHailer opened #7 "Documentation for transforms"
I want to create inline svg with the display property set to none. I cannot find how the transform functions should be incorporated into gulps pipe structure.

I tried the following but no luck

[code]

[2014-08-27 08:00] #7 closed, assigned to nobody

[2014-09-12 19:46] patrickcate opened #8 "Example of using the transformSvg function?"
Can you provide an example of using the transformSvg function in a gulp task to remove fills? I'm having trouble setting it up.

[2014-09-13 03:13] #8 closed, assigned to nobody

[2014-09-30 11:37] w0rm opened #9 "Reconsider xml library"
I've chosen libxmljs but just found [this fork](https://github.com/lemming/gulp-svgstore) by @lemming that replaces it with cheerio.

Unfortunately changes by @lemming cannot be merged because they contain code style changes. Does anybody know what are benefits of this? Is it because of better performance or because its easier to install cheerio than libxmljs?

[2014-10-15 03:43] cferdinandi opened #10 "Generates SVG file even if source is empty/null"
This may be by design, but currently `gulp-svgstore` will generate an empty SVG file if the `gulp.src(path.to.svg.directory)` returns an empty directory or no files.

[code]

Any consideration to generating nothing in a situation like this?

I can see why you might want to return an empty file. If, for example, you're injecting the file dynamically into an HTML document, a null file would break ot

[2014-10-15 23:14] #10 closed, assigned to nobody

[2014-10-16 12:07] nmn opened #13 "Fails to install"
the new version of gulp-svgstore fails to install (on OS X 10.9) because it fails to run the install script for libxml

[2014-10-16 13:26] #13 closed, assigned to nobody

[2014-10-17 04:18] #9 closed, assigned to nobody

[2014-10-17 22:38] necolas opened #15 "SVG viewbox metadata"
In order to use the output correctly for SVG's that have variable widths, you need to include the `viewBox` in the HTML:

[code]

What do you think about this plugin writing `icons.json` or similar, with `name: viewbox` pairs, so that downstream tools or a server can have access to the correct `viewBox` value for each icon.

[2014-11-04 15:38] jmacaluso711 opened #16 "Styling issue in chrome"
Hi, love this thing.  thanks for all the great work.  I am having trouble styling the svg in chrome.  It's basically just ignoring the styles i declare.  Works in firefox, but not chrome.  Any ideas?

Here's what I'm using to render

[code]

Here's my scss

[code]

[2014-11-06 09:50] #16 closed, assigned to nobody

[2014-12-08 19:31] DavidOliver opened #17 "Using SVGO options"
I'd like to have the output XML pretty printed by using SVGO's `pretty` option. Is it currently possible to do that with gulp-svgstore?

[2014-12-08 19:33] #17 closed, assigned to nobody

[2014-12-15 06:39] lukasoppermann opened #19 "Extract transformSvg"
Hey,

did you already extract the transformSvg method to a different gulp plugin?
There is one plugin to edit svgs, but I think it mostly handles fonts https://www.npmjs.com/package/gulp-svgedit/.

I think it would be awesome if you would extract your part to a gulp-svg-edit plugin which just takes one more multiple svgs and does something on them.

This means you could plug it into the flow befor

[2014-12-15 07:58] #19 closed, assigned to nobody

[2014-12-15 11:06] TxHawks opened #20 "Feature parity with the Grunt version"
First, thanks for the time you put into this.

I was wondering if there are plans to eventually have some sort of feature parity between `gulp-svgstore` and [grunt-svgstore](https://github.com/FWeinb/grunt-svgstore)?

The Grunt plugin has made a long way, and many of its current features seem to be missing from the Gulp version, which is a shame.

[2014-12-17 10:21] #20 closed, assigned to nobody

[2014-12-22 15:03] k7y6t5 opened #21 "inlineSvg option should also strip out xmlns attributes"
In addition to removing the `<xml>` and `<!DOCTYPE>` stuff, I think `inlineSvg = true` should also remove the `xmlns` and `xmlns:xlink` attributes from the `<svg>` itself.

[This article](http://stuntbox.com/blog/2013/06/bulletproof-inline-svg/) from [David Sleight](https://github.com/stuntbox) makes two points about this:
- IE8 chokes when an inlineSvg has the `xmlns` attribute
- there is no func

[2014-12-22 16:04] #21 closed, assigned to nobody

[2014-12-23 12:59] w0rm opened #22 "Remove transformSvg"
I consider completely removing transformSvg from gulp-svgstore, and suggest to use [gulp-cheerio](https://github.com/KenPowers/gulp-cheerio).

Also, it would be great if gulp-cheerio cached parsed xml in file objects, so it could be reused in other gulp plugins. For this I have created [this issue](https://github.com/KenPowers/gulp-cheerio/issues/7).

[2015-01-03 14:12] #22 closed

[2015-01-03 14:23] w0rm commented on #15
@necolas @Frizi  I added an example of how to extract viewboxes from combined svgs: https://github.com/w0rm/gulp-svgstore#extracting-metadata-from-combined-svg

This is now possible because gulp-svgstore caches cheerio in gulp file object.

If you need to extract from svg sources, then you may do the same with gulp-cheerio, pipe it to through2, collect data in `transform` function and write result

[2015-01-03 14:23] #15 closed

[2015-01-03 16:59] necolas commented on #15
Cool. We wrote our own script to accommodate various requirements, but this will be useful for normal projects. Thanks!

[2015-01-03 17:20] w0rm commented on #15
@necolas transformSvg wasn't a good idea in the first place, gulp-cheerio combination seems to be much better. It doesn't degrade performance, because cached `file.cheerio` is used instead of parsing file multiple times.

[2015-01-21 00:14] w0rm opened #24 "Remove prefix and fileName"
Prefix can be added with gulp-rename.

Filename can be guessed from the directory name of the first svg file.
If its not a good convention, then one might rename using gulp-rename.

[2015-01-27 14:54] didoo opened #25 "Add the sub-folder name to the symbol ID"
If the source files are organised in folders, it would be better to add the folder name to the symbol ID.
(e.g. gulp-svgsprite uses this convention: <symbol viewBox="..." id="{folder_name}--{file_name}">

[2015-01-27 17:10] w0rm commented on #25
@didoo just pipe your files through gulp-rename before passing to gulp-svgstore. I'm even going to remove suffix in favour of this.

[2015-01-27 22:33] didoo commented on #25
But in some way, since is gulp-svgstore that is generating the IDs, it should be this one to take care of possible conflicts or name overlapping. Currently if you have two (or more) different files in different folders, but with the same name (e.g. /company/logo.svg and /dummy/logo.svg) the generated symbols have both "logo" or "icon-logo" as ID.

[2015-01-27 22:50] w0rm commented on #25
I don't think it should, it clearly states that module id is based on filename.
Simple task below will produce just what you need:

src/svg/one/circle.svg -> one-circle
src/svg/one/two/three/circle.svg -> one-two-three-circle

[code]

[2015-01-27 22:58] w0rm commented on #25
@didoo I'm sorry! I just checked, and you're right about that I don't have it anywhere in the readme that icon id is generated from the file name, perhaps I should add it!

[2015-01-28 23:42] didoo commented on #25
Mmm, sorry, don't agree :)
I totally understand your point, but since is the package that builds the ID, it should be the package that handles the logic of how to build this ID.
For example, with the rename above, these two files will have the same ID:
`file-with-a-name.svg`
`file-with/a/name.svg`
Instead the second one should have an ID like
`file-with--a--name.svg`
Same thing if the file name co

[2015-01-29 08:09] w0rm commented on #25
What if file-with--a--name.svg is also in the files? Renaming files on your own gives you more flexibility. It's up to developer to decide on the rules of how ids should be built. Gulp-svgstore can throw an error if two files have the same name.

[2015-01-29 08:13] w0rm commented on #25
Gulp plugin [guidelines](https://github.com/gulpjs/gulp/blob/master/docs/writing-a-plugin/guidelines.md) say that plugin should do one thing and should not do the thing that can be done easily with another gulp plugin.

[2015-01-30 23:42] w0rm commented on #25
@didoo I decided to keep a track of added svgs and throw an error if the same filename is added again. Plus I will update documentation with an example of using together with gulp-rename.

[2015-01-31 11:40] #25 closed

[2015-01-31 17:25] darsain opened #27 "Option to switch between <symbol> and <g>"
An option switch so we could choose between transforming files into `<symbol>` or `<g>`.

`<symbol>` is awesome for icons, but doesn't work for CSS backgrounds. `<g>` is awesome for CSS backgrounds.

In other words, this doesn't work with `<symbol>`, but does with `<g>`:

[code]

[2015-02-01 13:12] w0rm commented on #27
@darsain can you please provide more details on how combined svg should look like in this case or maybe you have a link to an article? It would be also interesting to know browser support.

If you only need `<g>` instead of `<symbol>`, then you can rename them with gulp-cheerio until we find a better solution for gulp-svgstore.

[code]

[2015-02-01 15:58] #24 closed

[2015-02-01 20:27] darsain commented on #27
To make this work in CSS:

[code]

You need to structure `images.svg` in a way that enables [SVG fragment identifiers](http://www.w3.org/TR/SVG/linking.html#SVGFragmentIdentifiers). There are 3 ways I know of:

##### 1. SVG stack with global viewBox

You'd use this when all images are the same size.

[code]

##### 2. SVG stack with per image viewBox

You'd use this when every image has different s

[2015-02-01 21:07] w0rm commented on #27
@darsain why do you need a tool for this if it is not supported in Chrome?

Something like this make it work with 2nd example. I don't say it is a good solution though, will have to reconsider it when chrome adds support for this method.

[code]

[2015-02-01 21:36] darsain commented on #27
@w0rm to be honest, before I started researching this, I thought that Chrome did support that. Was quite surprised that it doesn't.

But still, would be nice to have this available when support hits stable.

[2015-02-02 23:03] w0rm commented on #27
@darsain do you have any objections regarding closing this issue as wonfix?

[2015-02-02 23:26] darsain commented on #27
@w0rm yes, as this is gonna be extremely useful in near future. I have nothing against putting this on low priority until Chrome adds support, but straight wontfix? :(

[2015-02-02 23:40] w0rm commented on #27
@darsain I'd prefer to keep it closed, and then re-open the ticket if needed.

[2015-02-02 23:57] w0rm commented on #27
@darsain thanks! I'd like to treat tickets in the "action is needed" manner.

[2015-02-21 04:59] SamPotts opened #29 "Reinstate prefix and filename options"
It would be good to use the folder/filenames as defaults but also have the option to prefix and change the output filename.

This seems like a step backwards.

[2015-02-21 10:27] w0rm commented on #29
@SamPotts any reason why `.pipe(rename({prefix: 'icon-'})` is not an option for you?

[2015-02-21 11:16] SamPotts commented on #29
Good point. I'll give that a go.

[2015-02-21 11:16] #29 closed

[2015-02-21 11:54] w0rm commented on #29
@SamPotts I have documented this use case https://github.com/w0rm/gulp-svgstore#generating-id-attributes If you think its not obvious, feel free to open PR that changes Readme.

[2015-02-21 11:56] SamPotts commented on #29
Cheers for that. I'll take a look.

Nice work by the way!

[2015-03-03 19:44] pastjean opened #31 "defs inside symbols like lineargradient and mask arent recognized by IE/Firefox (works in chrome)"
If you have an svg icon like this:
[code]

the generated svg :

[code]

the gradient wont show in ie and firefox

even worst if the svg (or any wrapping div) are set to display none it wont work ( another problem tough)

[2015-03-03 19:46] w0rm commented on #31
Hi! Any suggestions how this should be fixed?

[2015-03-03 19:46] pastjean commented on #31
sorry im putting a description on whole problem and how to fix

[2015-03-03 19:50] pastjean commented on #31
The fix i found was to put everything that is in a `defs` tag in a global `defs` tag for the whole file like this :

[code]

[2015-03-03 19:53] wfortin commented on #31
I'm experiencing the same problem, only on IE. I can provide sample SVG if needed.

[2015-03-03 19:53] pastjean commented on #31
The svg also need to be wrapped in a div that doesnt have `display:none` but other ways to hide it
[code]

[2015-03-03 20:02] pastjean commented on #31
FWeinb/grunt-svgstore seems to fix this problem

see :
https://github.com/FWeinb/grunt-svgstore/blob/dfb4e010a9c90269eb519fe58117f8f5424b563b/tasks/svgstore.js#L89-L91
https://github.com/FWeinb/grunt-svgstore/blob/dfb4e010a9c90269eb519fe58117f8f5424b563b/tasks/svgstore.js#L221-L224

[2015-03-03 21:04] pastjean commented on #31
#bfd20cb fixes the bug (i did that fast and didn't upgrade the tests, sorry)

[2015-03-04 01:57] pastjean opened #33 "Multiple of the same ids in a differents files"
What if there are multiple of the same IDs in a different file, there would be duplicate ids

[2015-03-04 03:16] pastjean commented on #33
svgo does something similar https://github.com/svg/svgo/blob/master/plugins/cleanupIDs.js

[2015-03-04 08:03] w0rm commented on #33
@pastjean can we accomplish similar with cheerio?

[2015-03-05 04:05] pastjean commented on #33
I guess so, (i've just started playing with cheerio yesterday while fixing my regression on svgstore :tongue:

something like getting all elements with `id`s` `id's $('[id]')`  all element with `xlink:href` `$('[xlink:href])` and elements with style that references url (probably a style parser would be needed here) then rename the ids and all xlinkhref,style accordingly.

[2015-03-05 21:25] #31 closed

[2015-03-05 21:27] w0rm commented on #31
@pastjean thank you! I merged your PR with slight changes.

[2015-03-05 21:29] w0rm commented on #31
@pastjean do you need me to publish this on npm or it can wait until we fix #33?

[2015-03-05 21:30] pastjean commented on #31
Ohh! nice! no need I'm a patient guy, i'll use my branch meanwhile

[2015-03-05 21:37] w0rm commented on #33
Yeah, having to parse the styles kinda holds me back from implementing this feature. I also checked svgo code, if only they allowed to specify prefix for the ids. Maybe we shouldn't solve this issue, but rather somehow create a new plugin for svgo and run it as a gulp task before passing to gulp-svgstore.

[2015-03-05 21:44] pastjean commented on #33
I would rather do that! Sometimes you want the duplicated ids so you can reuse some elements inside of others or you don't want the renaming to occur

Say

file 1 :
[code]

file 2 (redefines same symbol):

[code]

then you filter with cheerio in gulp to remove duplicate symbols

renaming aggressively would make this impossible (of course could be an option but then... better a separate gulp plugin

[2015-04-08 14:48] TrySound opened #34 "Why cheerio is peerDependency?"

[2015-04-08 15:05] w0rm commented on #34
To share the same version with gulp-cheerio because file.cheerio is cached and reused by both plugins

[2015-04-08 15:07] TrySound commented on #34
Ok. Thanks!

[2015-04-18 16:49] TrySound commented on #34
Maybe better leave it for user?
https://github.com/KenPowers/gulp-cheerio#breaking-changes-in-06x

[2015-04-18 20:31] w0rm commented on #34
Ok, I only had this because of gulp-cheerio.

[2015-04-20 19:13] #34 closed

[2015-04-20 19:37] TrySound commented on #34
CooL!

[2015-04-29 10:19] HugoHeneault opened #35 "Add prefix option"
Hi,

Thanks for your great plugin!

I'd like to have a prefix on all my id. Is this possible ?

Thanks!

[2015-04-29 10:22] TrySound commented on #35
Hi, @HugoHeneault !

[2015-04-29 10:24] HugoHeneault commented on #35
Well, thanks! Maybe I should read(me) a little more carefully.
Have a nice day!

[2015-04-29 10:24] #35 closed

[2015-06-29 10:47] thecotne opened #37 "is there any cli version of this?"

[2015-06-29 11:39] w0rm commented on #37
No there is not, I use this together with gulp. But a separate cli can be done in a separate project even without gulp.

gulp-svgstore exports a stream that consumes and outputs [vinyl](https://github.com/wearefractal/vinyl) file objects, so it should be simple to wrap it with cli interface. You may check the tests for more ideas.

[2015-06-29 11:39] #37 closed

[2015-07-10 03:21] Jakobud opened #38 "Conflicting gradient ids after merge?"
I have two SVGs. Each one had `linearGradient`s defined. The first one has it like this:

[code]
and the second one has a linear gradient with the same id:

[code]

So now, after `svgstore` combined my SVGs, I have two different linear gradients with the same IDs. That means there are conflicts and the gradients get used on the wrong svg sprites.

How do I avoid this? I'm working with SVGs that ar

[2015-07-10 03:25] Jakobud commented on #38
Grunt Svgstore issues seem to suggest that gradient id's are prepended with a file hash, making them unique to that file:

https://github.com/FWeinb/grunt-svgstore/issues/78

But I don't see this functionality in gulp svgstore unless I'm missing something obvious...

[2015-07-10 05:25] w0rm commented on #38
@Jakobud this is a known issue, closing it as a duplicate of #33.

[2015-07-10 05:25] #38 closed

[2015-07-10 06:07] Jakobud commented on #33
What do you think of grunt-svgstore's approach for solving this problem? They append a file hash to each ID in order to make sure its unique within each SVG symbol.

[2015-07-10 07:59] w0rm commented on #33
@Jakobud this is not an issue, a hash or a filename will make ids unique. The most difficult task is to change all the references in styles and attributes.

[2015-07-10 15:16] Jakobud commented on #33
It wouldn't be hard to do a find/replace in the content. Just find all unique IDs, append hash to each one, and then go through and replace the string everywhere they are used. Would you be interested in a PR that does this? Honestly this would be fairly easy to whip up if you are interested.

[2015-07-10 15:30] w0rm commented on #33
@Jakobud it's not that simple, these occurrences should be aware of the context, you definitely don't want to replace it inside the text node.

[2015-07-10 16:58] Jakobud commented on #33
Maybe we are talking about different issues here... I'm not sure. What I'm talking about is when you have something like a `<linearGradient id="whatever"....` in more than one of your SVGs. After svgstore combines everything you now have multiple linearGradients with the same id and when you try to use them like `fill="url(#whatever)"`. And the SVGs end up using the wrong linear gradient since IDs

[2015-07-10 19:18] w0rm commented on #33
#whatever may occur in different places, but not all of them have to be replaced

[2015-07-10 20:15] Jakobud commented on #33
Can you give an example of where `#whatever` is used but you wouldn't want to change it? Do you mean like <text>This is my #whatever text</text>? If we can come up with a small list of examples it wouldn't be too hard to write this and tests for it as well.

[2015-07-10 20:48] w0rm commented on #33
I think it is easier to list all the places where it should be changed (or just check what svgo does). But for this we need to parse inline css. I still doubt if it should be a part of svgstore, or a separate svgo plugin similar to https://github.com/svg/svgo/blob/master/plugins/cleanupIDs.js

[2015-07-11 02:34] Jakobud commented on #33
Looks like grunt-svgstore fixes this problem like this:

https://github.com/FWeinb/grunt-svgstore/blob/master/tasks/svgstore.js#L143

It finds `url(#...)` and `xlink:href=#` and replaces the id's with a unique id.

[2015-07-11 03:54] Jakobud commented on #33
I have to disagree with this I think. The problem that we are facing is a direct result of concatenating multiple SVGs together via svgstore. Any one out there who uses a vector program like Illustrator to make multiple SVGs that have elements with ids in them will face the same issue once they use svgstore to combine them. Solving the problem by making a plugin for svgo seems like you would be re

[2015-07-11 06:23] Jakobud commented on #33
Okay I threw this together tonight

https://github.com/Jakobud/gulp-svgstore/commit/fed910afd5c57aa74f38a585796aa9d7efc49275

It's actually really simple. For each SVG, before concatenation, it looks for any id's that are referenced using `url(#someid)`. It then replaces all instances of `someid` with `idAttr-someid`. So it basically just appends the filename to the front of the id. So for `circle

[2015-07-11 11:31] w0rm commented on #33
@Jakobud what if there is a <style> tag that styles element based on its id?

[2015-07-11 14:29] Jakobud commented on #33
I think the `<text>` case won't be difficult to handle. I just need to change my global search/replace to instead just search/replace on element attributes instead. The style tag could be tricky. For example, can you do this?
[code]

That would be tricky to take care of without introducing a css parser. I'll mess around with this.

[2015-07-11 15:59] Jakobud commented on #33
https://github.com/Jakobud/gulp-svgstore/commit/a245467b3a02efa2ad35b14a219f884d0ff758ce

Okay added an update that takes care of text in <text> and id's in <style> tags. Still investigating use cases of `xlink:title` and trying to figure out your tests. Some tests on the master branch were failing for me before I made any changes.

[2015-07-11 16:10] Jakobud commented on #33
Okay so I think any type of thing that uses `xlink:title` should be covered because it's an attribute just like any other attribute:
[code]

[2015-07-12 06:26] Jakobud commented on #33
Okay I made some changes and added several tests

https://github.com/Jakobud/gulp-svgstore/commits/feature/unique-element-ids

The tests are:

Should rename referenced ids in element attributes
Should rename referenced ids from definition tags
Should rename referenced ids in style tags
Should not rename id in text elements
Should not rename un-referenced ids

It's working very well so far. Do you

[2015-07-12 09:47] w0rm commented on #33
@Jakobud I am really worried of merging this change, because it may potentially break svg.

1. What if id that you want to rename is part of the actual, e.g. you need to replace `SVGID_1_` with `circle-with-id-SVGID_1_`, but there is already `SVGID_1_something`, that will be mistakenly replaced with `circle-with-id-SVGID_1_something`.
2. If the id is `url`, will then `fill="url(#SVGID_1_)"` become

[2015-07-13 02:06] Jakobud commented on #33
1. That is a use case I need to adjust the code for. Thanks,
2. No, it renamed it correctly as you can see in the tests
3. This is maybe worth a discussion but I don't think changing un-referenced ids makes sense. Un-referenced id's don't cause any problems that I can see. It's the non-unique referenced id's that svgstore doesn't handle well, which is what I'm trying to fix. Also, when someone is

[2015-07-13 07:41] w0rm commented on #33
@Jakobud I'm really sorry for frustrating you. I completely understand the issue that you're trying to solve. My only concern is merging something unstable into the project, and having to maintain this afterwards for other use cases, like point 1. Thats why I suggested a safer path of doing this, by splitting functionality and maintaining it separately.

What about doing it the way I proposed, and

[2015-07-15 14:05] w0rm commented on #33
Because svgo already has `cleanupIDs` plugin that supports prefixes, this seems the best way of solving the issue without having to reinvent the bicycle:

[code]

[2015-07-15 14:51] Jakobud commented on #33
Yeah that looks like a good way of doing this. I didn't realize it had the potential to append to ids. Good call!

[2015-07-15 15:12] w0rm commented on #33
@Jakobud yeah svgo is really powerful and minifying step is needed anyway in svg pipeline. I wonder if this should be in its own gulp plugin, because it needs to configure svgo on a per-file basis.
Can be done in a pull request to @ben-eb [gulp-svgmin](https://github.com/ben-eb/gulp-svgmin), that allows passing a function that receives file and returns svgo options, so something like this would be

[2015-07-15 15:44] ben-eb commented on #33
Sure, why not. Send a PR with the necessary improvements. :smile:

[2015-07-15 16:45] Jakobud commented on #33
Hmmm is there no way to grab the basename of the current file in the stream to pass it to a gulp plugin? Seems like there would be a way to do something like that...

[2015-07-15 18:36] w0rm commented on #33
@Jakobud plugin creates a transform stream with predefined svgo instance, it needs a callback per transformation for a custom behavior. I see no other way of doing this

[2015-07-17 21:26] w0rm commented on #33
@ben-eb I sent PR, will update gulp-svgstore readme when you publish it, and then close this issue.

[2015-07-17 23:04] #33 closed

[2015-07-18 00:11] Jakobud commented on #33
Thanks, sorry I didn't have a chance to put together a PR for that. I was trying to figure out a way to pass a closure as the prefix name and pull in the current source file basename. But I guess maybe you can't do that with gulp.

[2015-07-18 00:12] Jakobud commented on #33
By the way, does that cleanupIDs plugin rename ALL ids? Even non-referenced ones?

[2015-07-18 08:28] w0rm commented on #33
@Jakobud I think that by default it even removes unused ids. It can be turned off, but then it will minify and prefix all of them.

[2015-07-18 23:21] Jakobud commented on #33
Ah okay. Yeah removing unused ids could be undesirable in the case that you are trying to select certain elements to color or animate them using CSS.

[2015-07-18 23:45] w0rm commented on #33
That's a bit strange use case, do you inject combined file into html and then style it from page's CSS?

I'd rather not alter symbols' contents with CSS, there are several options, you can remove fills, and they will inherit from svg tag that contains use tag. If you need to color different elements, you may separate them into files that will become symbols, and then put multiple use tags inside y

[2015-07-19 00:48] Jakobud commented on #33
Yeah just pull in your SVG sprite into your html via ajax (and optionally store/load it in localstorage).

Also, you don't need to remove fills if you do stuff like `use path { fill: inherit; }`. That will allow you to override the fills that are defined in the symbol.

http://tympanus.net/codrops/2015/07/16/styling-svg-use-content-css/

[2015-07-19 07:05] w0rm commented on #33
@Jakobud restyling all paths isn't flexible either, sometimes I need to change the color of some paths, but keep the rest.
It will also break when in the future all browsers will support linking to symbols from external svg.

[2015-07-19 23:12] Jakobud commented on #33
ids and classes are how to target specific paths and elements.

[2015-07-19 23:23] w0rm commented on #33
Depends on what do you want to style, if you target contents of svgstored symbols from page's css, then you won't be able to change fill later in different places where you use them.

[2015-07-29 13:26] tmorozov opened #42 "does not work properly with null files"
version "gulp-svgstore": "~5.0.3"

error:
file.cheerio = cheerio.load(file.contents.toString(), { xmlMode: true })
TypeError: Cannot call method 'toString' of null

quick fix:
add
[code]
before
[code]

[2015-07-29 18:10] w0rm commented on #42
Hi @tmorozov. A pull request with this change and a test for it is very welcome. By the way, we also dont check for the wrong file format, assuming the correct input.

[2015-07-29 18:12] w0rm commented on #42
I also think that we should probably ignore such files and remove them from the downstream. However I'm open to discuss this matter

[2015-08-01 12:50] #42 closed

[2015-08-01 16:25] ghetolay opened #44 "Copy sprites svg's attributes into symbols"
So following the pull request about namespace, I think we should add the ability to copy some/all attributes from the different sprites into final symbols.

First I think namespace should be left apart and so none of the following will apply to namespace attribute.

Using a option seems the best and most flexible way to handle it for most case.
We could set an option ```copyAttr``` and cover these

[2015-08-01 16:40] ghetolay opened #45 "Create multiple files"
For now svgstore takes a bunch of files as input and output a single merged file.

What about generating multiple output file ?

I'm thinking about 2 simple way of doing it :

1) With some option like ```recurse:true``` we would expect a 2 level folder hierarchy like that :
.
├── theme1
│   ├── sprite1.svg
│   ├── sprite2.svg
│   ├── ....
├── theme2
│   ├── sprite1.svg
│   ├── sprite2.svg
│   ├──

[2015-08-01 17:33] w0rm commented on #45
@ghetolay I am against this feature, it doesn't feel lightweight. Can be done relatively easy with gulp by creating multiple streams and then using event-stream to merge them together into one.

[2015-08-02 15:48] ghetolay commented on #45
Well as I see it, it would be pretty simple, straightforward and lightweight. Just need to introduce a map of output :
[code]
For each file we call the function to define which output we'll use :
[code]
Then on flush basically do the same thing inside a loop :
[code]

Only thing left is the function ```getOutput(file)``` configurable by user and with a default value like that :
[code]

No if you s

[2015-08-02 17:27] w0rm commented on #45
Think of gulp-svgstore as gulp-concat. This feature is beyond the scope.

[2015-08-03 09:31] ghetolay commented on #45
Ok fine, was just answering the lightweight part.

[2015-08-03 09:35] w0rm commented on #45
@ghetolay I meant lightweight in terms of feature set.

[2015-08-04 07:36] w0rm commented on #45
@ghetolay this is how I would have solved it:

[code]

[2015-08-04 07:36] #45 closed

[2015-08-04 16:23] JimmyMultani opened #47 "Rendering issue with gradients on browsers?"
I'm having a bit of an issue when it comes to rendering SVGs with gradients associated with them, using svgstore. If I place the SVG as an image it, looks fine. Using svgstore however causes this weird behaviour in the gradients.

![svg-issue](https://cloud.githubusercontent.com/assets/1281284/9066011/2ed7641c-3aa3-11e5-89e9-dfe0056500c0.jpg)

As you can see on Chrome, it renders correctly. Howeve

[2015-08-04 22:44] w0rm commented on #47
@JimmyMultani hi, can you also provide the source of the svg?

[2015-08-05 13:19] JimmyMultani commented on #47
Hey @w0rm, thanks for looking into this. Here's the SVG file in question.

http://imgh.us/icon__plane.svg

[2015-08-06 07:39] w0rm commented on #47
@JimmyMultani thanks! I will check this weekend

[2015-08-06 18:26] w0rm commented on #47
@JimmyMultani the problem appears to be with three linked `<clipPath>` elements that are not inside `<defs>`.

[code]

Everything from `<defs>` of each source file is extracted into separate `<defs>` section of the combined file, but `<clipPath>` elements are still there inside each generated `<symbol>` and linked from within. This seems to be the limitation of the firefox.

You can fix it by wrap

[2015-08-06 18:41] w0rm commented on #47
@pastjean what do you think of this? You have fixed #31, is this related? Should we also move any `<clipPath>` element into combined `<defs>` section?

[2015-08-06 19:05] JimmyMultani commented on #47
@w0rm Thanks for the help! I had to manually update all my SVG assets to compensate for this (brain hurts from the monotony). I know that this wasn't in reference to me, but I think `<clipPath>` should be moved into the `<defs>` if it contains `<use>` inside of it.

[2015-08-07 08:20] w0rm commented on #47
@JimmyMultani can you update the readme with this finding?

[2015-08-31 15:33] w0rm commented on #47
Closing this issue.

@JimmyMultani a pull request with documentation change would be really helpful.

[2015-08-31 15:33] #47 closed

[2015-08-31 16:22] JimmyMultani commented on #47
Hey @w0rm, sorry about the delay. I completely forgot to do this.

I've requested a pull.

[2015-09-14 06:22] SiamKreative opened #50 "Issue with SVG from Sketch"
Hi there,

I'm working on a design that was created in [Sketch](http://bohemiancoding.com/sketch/). For some reason that I don't understand, the SVG don't render as expected after using this plugin. See what I'm talking about:

### Before & After screenshot
![image](https://cloud.githubusercontent.com/assets/1778633/9843338/52b7c114-5ae3-11e5-90ed-0adc2d8f6d72.png)

### Base SVG:
[code]

### Gener

[2015-09-14 15:18] w0rm commented on #50
@SiamKreative can you provide the whole output from gulp-svgstore? You only provided the symbol, but there should be more code in the output.

[2015-09-14 16:43] SiamKreative commented on #50
Thanks for looking into this Andrey.

[code]

[2015-09-15 08:12] w0rm commented on #50
@SiamKreative the <defs> section is missing from the result svg, and I don't really know why, [it has to be there](https://github.com/w0rm/gulp-svgstore/blob/master/index.js#L73). Maybe you have additional transformation that removes it?

I tried to use your original icon, and everything worked for me. Here is my code with your icon: https://github.com/w0rm/svgstoretest

[2015-09-15 09:56] SiamKreative commented on #50
Thanks for putting together this example. This should help me spot the issue ;) I will get back to you asap.

[2015-09-18 11:54] LeZuse commented on #27
Just ran into this, too. Pretty surprising that Chrome is behind on this. Maybe the SVG implementations are not ready for today after all :)

[2015-09-20 19:45] w0rm commented on #50
@SiamKreative have you figured it out?

[2015-09-21 13:00] w0rm commented on #44
Quoting @ghetolay from #41 to provide more context with this issue:

[2015-09-22 02:56] SiamKreative commented on #50
Not entirely. If I disable my project's stylesheet then the SVGs show up. Now trying to narrow down the issue...

[2015-09-22 03:09] SiamKreative commented on #50
Stupid me! Finally figured out what was wrong with my setup.

Instead of using the code you provided:
[code]

I wanted to use the built-in Bootstrap class `.hidden`:
[code]

But what this class does is `.hidden { display: none !important; }`...

Sorry for the trouble, and thanks a bunch for everything.

[2015-09-22 09:11] w0rm commented on #50
@SiamKreative yeah, combined svg should be visually hidden! If you think that readme isn't obvious feel free to send a pull request!

[2015-09-22 15:53] legostud opened #51 "duplicate xmlns:link attributes"
version 5.0.5 is adding the xmlns:link attribute twice to our combined svg file.

[code]

version 5.0.4 works fine.

[2015-09-22 17:13] w0rm commented on #51
@legostud, can you provide source files?

[2015-10-03 16:24] w0rm commented on #51
@legostud please provide a test case or I will have to close this as "can't reproduce".

[2015-10-03 18:25] w0rm commented on #51
@legostud I added the test that is passing to this branch: https://github.com/w0rm/gulp-svgstore/tree/51-duplicate-namespaces

[2015-10-03 18:33] w0rm commented on #51
/cc @ghetolay what do you think of this issue?

[2015-10-04 23:13] ghetolay commented on #51
Well an example would be great because duplicate of attribute names seems very unlikely.
Because we could totally do something wrong on the detect/check of namespace procedure but then the part about adding attribute is very simple  :

    for (var nsName in namespaces)
      $combinedSvg.attr(nsName, namespaces[nsName])

```namespaces``` being an object it's technically impossible to add the same

[2015-10-05 10:19] ghetolay commented on #51
Also quick guess, if it works on gulp-svgstore 5.0.4, and since this version is not adding any namespace, this is probably because you are adding it yourself.
This is maybe why you end up with duplicate namespace on version 5.0.5 : first one added by gulp-svgstore and second one by you.

[2015-10-05 19:29] w0rm commented on #51
@ghetolay yeah, could be it. Anyway, I am closing this because @legostud is not responding.

[2015-10-05 19:29] #51 closed

[2015-10-15 12:05] w0rm opened #53 "Faster screenshot tests"
Replace graphicsmagick dependency with [pixelmatch](https://github.com/mapbox/pixelmatch) to improve testing time.

[2015-10-17 09:53] w0rm commented on #53
Turns out it is possible to only compare toString of the screenshots data, so I'm getting rid of png processing and image comparison.

[2015-10-17 09:58] #53 closed

[2015-10-19 16:35] Turqueso opened #55 "linearGradient inside Symbol on firefox"
I'm using [Inlining svgstore result into html body](https://github.com/w0rm/gulp-svgstore#inlining-svgstore-result-into-html-body) but it puts the gradient inside the symbol so it's not rendered on firefox. Is there a way so svgstore puts the gradiente outside the symbol?
The bug is on [bugzilla](https://bugzilla.mozilla.org/show_bug.cgi?id=353575).

[2015-10-19 16:41] w0rm commented on #55
Svgstore will extract gradient if you have it inside defs tag.

[2015-10-19 19:53] Turqueso commented on #55
It work, thank you!

[2015-10-19 20:07] w0rm commented on #55
@Turqueso you're welcome! Let me know if you need any other help!

[2015-10-19 20:07] #55 closed

[2015-10-26 16:43] Turqueso commented on #55
@w0rm just one thing, may this should be somewhere on the docs?

[2015-10-27 12:29] w0rm commented on #55
@Turqueso feel free to send a PR to add missing docs. For more info of what svgstore does please check the original issue https://github.com/w0rm/gulp-svgstore/issues/31

[2015-10-31 15:56] rctneil opened #56 "Gradients not rendering"
Hey,

Been testing out gulp-svgstore for my new site. I have got it working on quite a few SVG's and it's great.

However, any svg's that contain gradients do not render them. On;y the solid fill areas show up. I have read everything I can find to locate a solution but can't seem to get anything to work. I tried moving a linearGradient blog out of the <symbol> and this allows it to display in Fire

[2015-10-31 15:59] w0rm commented on #56
@rctneil hi, I think this issue is the same as https://github.com/w0rm/gulp-svgstore/issues/55

[2015-10-31 16:00] rctneil commented on #56
I did read that but it doesn't make sense to me. Also, I am using externally referenced SVG so unsure if that makes a difference.

[2015-10-31 16:02] w0rm commented on #56
@rctneil can you provide a source of an example svg that is broken when used from combined file?

[2015-10-31 16:05] rctneil commented on #56
@w0rm Ok, This SVG has a gradient and the gradient part doesn't show in Chrome. If I move the gradient out of the symbol then the gradient parts shows in Firefox but still not in Chrome:

https://gist.github.com/rctneil/a69743e09be0d44ac309?short_path=f99ea3c

[2015-10-31 16:48] w0rm commented on #56
@rctneil I was able to reproduce the issue, wrapping gradient inside `defs` fixes the issue in Firefox, but not in Chrome.

I'm really not sure why its not working.

[2015-10-31 18:28] rctneil commented on #56
@w0rm It's odd. How are other people using this plugin solving the issue? Surely they must be encountering it?

This is happening for every SVG that I have with some form of gradient.

[2015-10-31 19:17] w0rm commented on #56
Maybe they inline combined svg into the page. I'm not using svgstore for complex svgs, but rather for monochrome icons.

[2015-10-31 19:40] w0rm commented on #56
I'd like to see this issue tracked down to an explanation of why its broken or maybe even a Chrome bug report.

[2015-10-31 19:41] rctneil commented on #56
@w0rm I've just reverted to an inline option and all the gradients display. Weird.

[2015-10-31 19:46] w0rm commented on #56
@rctneil I was able to find [this question on stackoverflow](http://stackoverflow.com/questions/27752494/why-cant-i-reference-an-svg-linear-gradient-defined-in-an-external-file-paint) with a links to chromium and webkit bugs.

[2015-11-05 08:08] SiamKreative commented on #50
Hi again...

After reading [this article](https://css-tricks.com/svg-use-with-external-reference-take-2/), I decided to switch from inline SVG to external reference. But, I'm facing a new issue, somehow related to Sketch.

The SVG don't show up because the sprite contains "errors". This is what I see when I open the SVG sprite in my browser:

#### Without svgmin()

[code]

#### With svgmin()

[cod

[2015-11-05 09:44] w0rm commented on #50
It complains about missing namespace declarations. gulp-svgstore tries to move all namespaces from source svgs to the combined file https://github.com/w0rm/gulp-svgstore/blob/master/index.js#L76
so generally it shouldn't happen. Can you give an example of the source svg that I can check?

[2015-11-05 09:45] SiamKreative commented on #50
[code]

[2015-11-05 10:02] w0rm commented on #50
Does your result file has namespaces? e.g. `<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">`

[2015-11-05 10:08] w0rm commented on #50
It works for me without errors in console:

![screen shot 2015-11-05 at 11 04 48](https://cloud.githubusercontent.com/assets/43472/10965415/1227b8dc-83ad-11e5-9213-16270de64bf1.png)

Chrome doesn't show circle because it links to a filter object from inside the combined file, and this doesn't work in Chrome just as mentioned in this issue https://github.com/w0rm/gulp-svgstore/issues/56

Combined f

[2015-11-11 12:50] daviddarnes commented on #56
@w0rm I don't think it's quite the same as the question refers to an external file. I've just used svgstore on [this project](http://daviddarnes.github.io/mac-cursors/) and the gradients are missing, all of the SVGs are inline. The first icon in the grid [should be shown like this](https://github.com/daviddarnes/mac-cursors/blob/master/svg/busybutclickable.svg).

[2015-11-16 10:41] w0rm commented on #56
@daviddarnes yes, your issue is different from this one. I'm closing this one because thats how Chrome works, if you use symbols from external svg and they link to gradients or other objects from within that external svg — then external objects don't render.

Regarding two gradients with the same id, svgstore simply merges all svgs together, you need to ensure this yourself that ids do not clash.

[2015-11-16 10:41] #56 closed

[2015-11-16 10:43] #50 closed

[2015-11-16 11:01] daviddarnes commented on #56
@w0rm thanks for the reply. Upon further investigation it appears that Sketch is quite poor when it comes to naming and managing gradients, it merely numbers them. So when combining SVGs with gradients it will almost always clash. At some point I should probably use cheerio in the gulp task to name the gradients.

Sorry for pointing the blame in the wrong direction. Thanks for open sourcing!

[2015-11-16 11:16] w0rm commented on #56
@daviddarned why isn't the proposed solution working for you? It ensures unique ids automatically and also minifies svgs

[2015-11-16 12:23] daviddarnes commented on #56
@w0rm I wasn't using svgmin at the time, thought it was causing another issue. I changed the IDs myself and everything works fine. Despite svgmin solving the gradient issue, it would still be nice if Sketch didn't just number gradients like that.

[2015-11-25 08:22] kamlekar opened #57 "Need to add new attribute to generated Symbol"
Using this plugin, I am able to generated svg's inside `<symbol>` element. I have a requirement where I need to add a attribute to these generated `<symbol>` elements.

I tried the following, which isn't working:

            .pipe(svgstore())
            .pipe(through2.obj(function (file, encoding, cb) {
                var $ = file.cheerio;
                $('svg > symbol').each(function(index,

[2015-11-25 09:18] w0rm commented on #57
@kamlekar you shouldn't use `file.cheerio` for this, it won't update the original file. To modify the file, pipe it through gulp-cheerio

[2015-11-25 09:40] #57 closed

[2015-11-25 11:06] kamlekar commented on #57
@w0rm Thanks. That worked!!

Here is the code if someone is interested:

            .pipe(svgstore())
            .pipe(cheerio(function($, file){
                $('svg > symbol').each(function(index, element){
                    $(element).attr('preserveAspectRatio', 'xMinYMid');
                })
            }))
            // Store the generated svg sprite in "site/assets/images/" folder

[2015-11-25 12:03] w0rm commented on #57
@kamlekar cheerio should work like jquery, so you don't need to iterate, this should be enough:
`$('symbol').attr('preserveAspectRatio', 'xMinYMid');`

[2015-11-25 12:28] kamlekar commented on #57
ok thanks :)

[2015-12-29 04:32] SiamKreative commented on #50
Hi again Andrey,

I'm having another issue with svgstore. [This SVG file](https://dl.dropboxusercontent.com/u/28858864/icon-research.svg) is generated with Sketch. It renders perfectly well when I open it in the browser, but it look "broken" once it's processed by svgstore (highlighted in red):

![image](https://cloud.githubusercontent.com/assets/1778633/12029509/53d3efca-ae1f-11e5-8304-31de8f5e2c

[2015-12-29 08:49] w0rm commented on #50
@SiamKreative you link to `mask="url(#mask-2)"` and `mask-2` is not inside `<defs>` section.

[2015-12-29 08:53] w0rm commented on #50
@SiamKreative I suggest you to avoid all internal links in your svgs, I guess you should be able to expand all the masks.

[2016-01-27 19:17] zbjornson commented on #27
angular/material's md-icon/$mdIconProvider requires `g` instead of `symbol` because it doesn't use the `use` tag to display icons. This is a current use case (unlike the above discussion if it's not out of date) for a very popular framework. An option like `element: "symbol|g"` would be great. Would you accept a PR with this change?

[2016-01-28 08:49] w0rm commented on #27
@zbjornson it may not play well with the current logic that extracts elements from `<defs>` of each file and combines in `<defs>` section of the result file. Also it would require test cases including visual tests. If you're willing to do this, then sure.

[2016-02-20 15:40] #27 closed

[2016-02-20 15:43] zbjornson commented on #27
Was this closed because someone else made the change? If not I'm planning to do it next weekend.

[2016-02-20 15:44] w0rm commented on #27
@zbjornson closed because I don't need this feature, and noone is willing to implement this.

[2016-02-20 15:56] w0rm commented on #27
@zbjornson out of curiosity, why don't you use this library https://github.com/jkphl/gulp-svg-sprite? I think it supports every possible case to bundle svgs

[2016-02-20 15:59] zbjornson commented on #27
Hmm thanks for pointing out that repo, will take a look. Have been happily using yours for almost a year and only recently needed to switch element types. If it doesn't work I'll make a PR here, thanks.

[2016-02-20 16:04] w0rm commented on #27
@zbjornson my library is very opinionated about bundling svgs, instead of implementing all possible methods, I did some research and focused on the method that I liked best.

https://github.com/w0rm/compare-sprite-methods — playground with different bundling methods
https://tech.zalando.com/blog/creating-bulletproof-svg-icons/ — blogpost about usage with fallback
http://unsoundscapes.com/slides/20

[2016-02-29 14:05] michaelpumo opened #58 "TypeError: $svg.contents is not a function"
Hi,

Today we realised our Gulp SVG task was failing, seemingly due to some issue with `gulp-svgstore`. How long this has been happening we can't say, but there was a time it was working. Could it be an issue with the latest version of Node?

**We get the following error:**

**Our task looks like:**

[code]
This task hasn't changed and the plugin versions have not changed either:

`"gulp-svgstore"

[2016-03-01 18:11] nayarahilton commented on #58
I'm having the same problem =(

[2016-03-01 20:48] w0rm commented on #58
@michaelpumo thanks for the report, I will check it this week.

[2016-03-05 16:29] w0rm commented on #58
@michaelpumo @nayarahilton I've tried it with the latest node and it worked, can you please set up a minimal test case that reproduces the issue?

[2016-03-08 22:44] hatchbee opened #59 "Is it possible to split symbols wrapped inside on one svg into single files?"

[2016-03-09 05:47] TrySound commented on #59
@hatchbee This module combines many svg, not splits.

[2016-03-09 06:04] hatchbee commented on #59
@trysound Yes I know that and been using in one of my projects too. Great tool indeed.

But now that I have to change all the font icons in my project and I have 5-6 svg files with lots of symbols in each.

I was wondering if there would be any option/module which could split all the symbols in every files and bundle up into one final svg.

Thanks! This is more of a question rather than issue.

[2016-03-09 11:16] w0rm commented on #59
@hatchbee I don't know such module, you can create it yourself, something like this (not tested):

[code]

[2016-03-09 11:16] #59 closed

[2016-03-09 15:51] shannonmoeller opened #60 "Pure JS API"
I'd love this functionality as a pure JS api rather than being married to gulp. I haven't found a suitable alternative. Before forking this and building a new module myself I thought I'd ask if there were already plans for this or if there was a known alternative that isn't tied to another build tool (grunt, broccoli, cli, etc.).

Ideally something like this:

[code]

[2016-03-09 16:38] hatchbee commented on #59
@w0rm thanks! Appreciate :+1:

[2016-03-09 17:43] w0rm commented on #59
@hatchbee you're welcome, its just a rough idea :)

[2016-03-09 17:50] w0rm commented on #60
@shannonmoeller I have no plans about making this universal, because this is an opinionated library only for gulp ecosystem. The library is super simple, what matters more for this project is the method that uses `symbols` and how it may be used with other gulp plugins.

If you want to take a different approach, then you may look into https://github.com/jkphl/svg-sprite

[2016-03-09 17:50] #60 closed

[2016-03-09 17:51] w0rm commented on #58
@michaelpumo @nayarahilton is this still an issue for you or may I close this as `can't reproduce`?

[2016-03-09 17:56] nayarahilton commented on #58
This still is an issue for me, I'm using 5.7.0 node =/

[2016-03-09 18:05] w0rm commented on #58
@nayarahilton this is not enough info for me, as I have mentioned earlier, if you need a help, please set up a test case that triggers the error.

[2016-03-09 18:12] shannonmoeller commented on #60
That answers my question. Thanks!

[2016-03-09 18:23] nayarahilton commented on #58
sorry, I'm new here and my problem is similar to him, that's why I do not set up a test case

task:

[code]

error:

      $combinedDefs.append($defs.contents())
                                 ^

    at Transform.transform [as _transform] (Z:\gulp\node_modules\gulp-svgstore\i
ndex.js:107:34)
    at Transform._read (_stream_transform.js:167:10)
    at Transform._write (_stream_transform.js:155:12

[2016-03-09 18:35] w0rm commented on #58
@nayarahilton but he doesn't set up the test case either. Sorry for confusion, by "the test case" I mean the whole project on github or in a zip archive, that reproduces the issue.

[2016-03-12 10:11] w0rm commented on #58
Closing as can't reproduce.

Will reopen this issue if somebody uploads a test project that fails with this error.

[2016-03-12 10:11] #58 closed

[2016-03-12 10:22] michaelpumo commented on #58
I'll try and get an isolated test case over in the next few days. Apologies for the delay.

[2016-03-12 10:24] w0rm commented on #58
@michaelpumo and @nayarahilton,  I tried your tasks with the exact versions and it worked for me, maybe the problem is in the svg files that you're bundling.

[2016-03-12 10:42] michaelpumo commented on #58
@w0rm I thought perhaps the same, but I tried eliminating each one by one. No success. I'll get an example to you as soon as I can. Should I place this in a repo? Thanks!

[2016-03-12 10:43] w0rm commented on #58
@michaelpumo any way will work, you can even try to attach a zip file here or email it to unsoundscapes@gmail.com

[2016-03-12 21:21] AndyOGo opened #61 "Symbols are empty after gulp-remember has populated it's cache"
I'm currently utilizing `gulp-cached` and `gulp-remember` to make my build more incremental.
Unfortunately `gulp-svgstore` is broken in conjunction with `gulp-remember`.

I tracked the issue down, to the following lines of code:

1. `gulp-svgstore` adds a JSDOM `cheerio` property to the current file, but only if it does not exist already.
[file.cheerio](https://github.com/w0rm/gulp-svgstore/blob/m

[2016-03-12 21:27] w0rm commented on #61
@AndyOGo the cached cheerio object is mentioned here: https://github.com/w0rm/gulp-svgstore#extracting-metadata-from-combined-svg
gulp-cheerio and gulp-svgstore cache it to not parse svg multiple times.

[2016-03-12 21:34] AndyOGo commented on #61
@w0rm You are right. I think I missed to communicate the important point here.
After all children of DOM node A are appended to another DOM node B. They no longer exist in A, only in B. See [DOM Spec](https://dom.spec.whatwg.org/#dom-node-appendchild) and [MDN](https://developer.mozilla.org/de/docs/Web/API/Node/appendChild)
The cache is absolutly fine, but as soon as the children are removed, the

[2016-03-12 21:54] #61 closed

[2016-03-12 21:59] w0rm commented on #61
@AndyOGo I removed the cache completely, I think it adds more harm than benefits. Version 6.0.0 of svg-store is now published, because it may be a breaking change if someone relied on this feature.

[2016-03-12 22:02] AndyOGo commented on #61
@w0rm Wau that was fast. Thank you.
Okay, well I think just the cache of each incoming files are proplematic. The cache of the flushed sprite should be fine (fingers crossed).

[2016-03-13 17:32] AndyOGo commented on #61
I just came up with another possible fix. Just clone the svg before appending it to the symbol.
That way the original cache stays unchanged. (Updated above)

[2016-03-13 17:41] w0rm commented on #61
@AndyOGo I realised that if there is a plugin that changes the content and doesn't update the cached cheerio object inbetween gulp-cheerio and gulp-svgstore, then it will break the behavior. The only possible solution would be to calculate the checksum of the content and pass it along with the cache. But it will require a lot of effort from different gulp plugins.

Passing something along with the

[2016-03-13 22:41] AndyOGo commented on #61
@w0rm I see, thats true. Then I thing it's best just avoid caching as you did already.

[2016-04-08 13:04] bashaus opened #63 "Structuring SVG files"
Having a little bit of trouble with creating separate files. If I have a directory structured as such:

    social/
        twitter.svg
        github.svg
    devices/
        phone.svg
        tablet.svg
        desktop.svg

Any thoughts on how I structure my "src" so that it would output the following files:

    social.svg
    devices.svg

[2016-04-08 13:08] bashaus commented on #63
Closed: #45

[2016-04-08 13:08] #63 closed

[2016-04-11 07:17] kamlekar opened #64 "How to rename the generated combined svg files?"
Currently when I generate using gulp, the generated file is taking the name of the source folder. But I want to rename the generated SVG file to something else.

Please help.

[2016-04-11 09:39] w0rm commented on #64
Pipe the result through [gulp-rename](https://github.com/hparra/gulp-rename).

[2016-04-11 09:39] #64 closed

[2016-04-12 16:23] namerci commented on #58
Have same problem.
NodeJS: 5.10.0
NPM: 3.8.5
gulp-svgstore: 6.0.0

This error happens even if you use simple:
gulp.task('svgstore', function () {
    return gulp
        .src('app/assets/svg/*.svg')
        .pipe($.svgstore())
        .pipe(gulp.dest('out'));
});

I'm fixing it when I remove node_modules folder and all package.json dependencies, and then install it one by one again. Didn't know wh

[2016-04-14 15:27] wc-matteo opened #66 "svgstore ignores `base` gulp.SRC option"
Given this pipeline:

[code]
the plugin should output to `foo`, as do all plugins I tried (e.g. _uglify_); **svgstore** save its output on `foo` parent directory, instead.

#### Files

[code]

[2016-04-14 15:49] w0rm commented on #66
@wc-matteo this indeed looks to be the wrong behavior. Can you open a pull request to fix this together with the test case?

[2016-04-14 15:53] wc-matteo commented on #66
@w0rm I'll try do something sometime later today.

[2016-04-14 16:00] w0rm commented on #66
cool, thank you!

[2016-04-14 19:21] wc-matteo commented on #66
Sorry. I'm _very_ new to this kind of collaboration; and I really don't have time right now to figure it all out.
Spending some time thinking (and tinkering) about the issue, I arrived at this:

[code]

It should replace the code that assigns to `fileName` at [53-60](https://github.com/w0rm/gulp-svgstore/blob/cec4fb475ee63d7572b3ba8e5fe09ea37d81acd1/index.js#L53-L60); and `fileName` should become

[2016-04-14 20:17] w0rm commented on #66
@wc-matteo ok, I will check this when i have time, unfortunately it will be the earliest in two weeks. This is not the critical issue, and as a workaround you can pipe the result through gulp.rename to fix the output path.

[2016-04-15 08:57] wc-matteo commented on #66
@w0rm Thank you.

Yes, I'm using `gulp-rename` like this for now:

[code]

[2016-04-30 19:32] w0rm commented on #66
@wc-matteo in your original example

[code]

base is the current directory for each file. If you want it to be `foo` then it should be:

[code]

I've push the change to `support-base-option` branch, please let me know if it works as expected.

[2016-04-30 19:43] w0rm commented on #66
@wc-matteo I'm still not sure if this is the correct way. The way I thought of it before - was to use the last part of the base path for the target filename.  e.g. 'foo/**/*.svg' becomes 'foo.svg', 'src/icons/**/*.svg' becomes 'src/icons.svg'.

[2016-05-02 07:41] wc-matteo commented on #66
@w0rm Yes, I chose a misleading example. The fact is that if I had other directories nested inside `foo`, I'd still want the file to be saved beside the svgs (e.g. `foo/icons/*.svg => foo/icons/icons.svg`). A base of `.` tells Gulp to keep the full path for the destination (and not just the path starting at the first glob).

Regarding the _correct way_, I agree, it doesn't seem something that'll w

[2016-05-04 15:49] richardwiggins opened #67 "Output symbols only"
I was wondering if there is anyway to just output everything as `<symbols>` (like already happens), but without the `<svg>` wrapper and initial `<defs><style>` etc?

[2016-05-07 07:28] w0rm commented on #67
`<defs>` have to be extracted because they don't work from within a `<symbol>` , you can read more about it [here](https://github.com/w0rm/gulp-svgstore/issues/31). If you don't use `<defs>`, I guess you can pipe the result through the [gulp-cheerio](https://github.com/knpwrs/gulp-cheerio).

[2016-05-07 07:29] #67 closed

[2016-05-19 14:17] richardwiggins opened #68 "Change path id's to classes"
Hey, I'm pretty new to all this but is there a way to run through and change any the id's on paths to classes?

Or is this a job for svgmin?

[2016-05-19 16:45] w0rm commented on #68
I guess you can use gulp-cheerio to pipe files through it and apply necessary modifications. its like jquery but in node

[2016-05-19 16:45] #68 closed

[2016-06-02 01:41] reintroducing opened #69 "Blank visual output"
I'm trying out the plugin by just using the ["times"](https://github.com/encharm/Font-Awesome-SVG-PNG/blob/master/black/svg/times.svg) icon from FontAwesome. My task is as follows (more or less, removed variables for paths):
[code]

The output SVG file is as follows:
[code]

Great. I now load it in Illustrator (or in a page, whatever) and I see nothing.  There is nothing in the SVG file visually,

[2016-06-04 13:21] reintroducing commented on #69
As a follow up here I ran the task with the circle icon from the test directory in this repo and got the same thing, nothing visual.  Can anyone help me out and see what I'm doing wrong? I'd love to use SVG icons in my project but this is obviously gating that. Appreciate any help anyone can offer.

[2016-06-04 14:08] reintroducing commented on #69
wow, i am a complete idiot and misunderstood how this was all supposed to work. there is no visual output in the svg, it's just the definitions which then get injected into my files and I can color them visually with classes.  yep, everything working fine now, nothing to see here.

apologize for the noise :)

[2016-06-04 14:08] #69 closed

[2016-08-01 18:38] Muskos opened #70 "repaint logo in sprite"
I use you plugin without any setting.
I put two logo in directory:
one_logo_s2.svg
two_logo-s2.svg
And when i use your plugin, first logo repaint at color of second logo. And second logo i see normal.
Text of both logo in right color. But background of main part of first logo is wrong.
I put another few another logo. Only one logo have his color.
If i remove second logo from directory. Another log

[2016-08-01 19:05] w0rm commented on #70
@Muskos can you please provide the reduced example that demonstrates your issue?

[2016-08-01 19:19] Muskos commented on #70
https://codepen.io/Muskos/pen/RRYPzO
there are 5 logo
https://yadi.sk/i/T_sfKS3QtpkZN

[2016-08-01 19:33] w0rm commented on #70
What i've discovered is that there are three linearGradients with the same `id="a"` that override each other. You should change this to be unique

[2016-08-01 19:43] Muskos commented on #70
Is it a problem of svg file? I didn't rewrite code after gulp task.
I open *.ai file with all logo. All gradients named as "contour".

[2016-08-01 20:08] w0rm commented on #70
The combined file should have unique ids. gulp-svgstore doesn't rename them, because you can use svgmin for it. In your file you ran every file though svgmin, and it has probably minified ids by renaming them to a single letter `a`.  Have you tried the usage example from the readme?

[2016-08-02 12:33] Muskos commented on #70
i try svgmin without any options.
thank you. all done

[2016-08-02 12:33] #70 closed

[2016-08-12 16:15] petebarr opened #71 "Removing doctype from generated sprite sheet"
Hi,

Just wondering if there's a way to remove the doctype and xml header from the main generated sprite sheet?

`<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">`

[2016-08-12 16:37] w0rm commented on #71
@petebarr there is an option for this `svgstore({ inlineSvg: true })`

[2016-08-12 16:37] #71 closed

[2016-08-12 18:48] petebarr commented on #71
Aghhh! Sorry, I must be blind. Cheers!

[2016-09-01 09:56] thalseth commented on #44
Any updates on this @w0rm & @ghetolay ?

I am adding width="100%" and height="100%" on every svg but these attributes are removed when using svgstore 😢

[2016-09-01 10:19] ghetolay commented on #44
I could implement it if this is validated by @w0rm.

Right now I'm using a ```through2```, if you want to add attributes to ALL your symbols something like that  should do :

[code]

This part :

[code]

is safer but you'll need to add cheerio as a dependency of your project. If you call the function right after ```svgstore()```, like on the sample code, ```file.cheerio``` should always be set and

[2016-09-01 11:25] csshugs opened #72 "Add npm installation instruction"
I was missing a simple `npm install` instruction which is kind of established for gulp/grunt plugins.

So I guess putting something like this in the README.md would be helpful to gulp/grunt newcomers:

[code]

[2016-09-01 12:11] thalseth commented on #44
Thank you for the response @ghetolay. This is actually what i am doing now together with svgmin() to optimize each icon. It doesn't feel right to iterate over the icons again after using svgstore() to add the same attributes 😢

[code]

[2016-09-05 10:17] samjarrett opened #73 "Should this package be split in two?"
I realised that the code in index.js is almost entirely usable without gulp, so I was wondering if it would make sense to split into a svgstore package and a gulp-svgstore wrapper, so people (like me!) can use the svgstore sans-gulp?

Thanks!

[2016-09-06 09:35] w0rm commented on #73
Hi. I have no interest in this feature, you may want to check this discussion https://github.com/w0rm/gulp-svgstore/issues/60

[2016-09-06 09:35] #73 closed

[2016-09-07 08:12] dannypk opened #74 "<div style="height: 0; width: 0; position: absolute; visibility: hidden"> create a white box at the bottom of the page"
If I put top:0 manually, it disappears. Otherwise, I have an extra white box at the bottom of the page. Any idea why ? It's both firefox/chrome mobile/desktop view.
Thanks

[2016-09-08 20:44] #72 closed

[2016-09-08 20:48] w0rm commented on #74
@dannypk I guess it is because an svg inside the div has bigger dimensions. Setting width and height on the div doesn't hide the overflowing content

[2016-09-08 20:59] w0rm commented on #74
You may try to either apply the style on the svg itself, or set `overflow:hidden`.

[2016-09-09 05:18] csshugs commented on #72
👍  Awesome!

[2016-09-10 21:58] w0rm commented on #44
@thalseth I don't understand what you're trying to accomplish. Each svg becomes a symbol tag, and there is no neet to set width and height on each symbol, but rather on the use element https://developer.mozilla.org/en-US/docs/Web/SVG/Element/symbol

[2016-09-15 14:15] thalseth commented on #44
Hi @w0rm!
I don't know why i thought my symbols should have width and height. I guess i mixed the way we work with svgs as child to an <i> element in our react components and the way we use the symbol reference.

Thank you for this awesome package  👍

[2016-10-11 09:08] olabaloo opened #75 "Path concatenation example doesn't work"
The example provided to concatenate relative paths, e.g. src/svg/one/two/three/circle.svg to one-two-three-circle, doesn't work.

When I print `path.sep` to the console, gulp says it is `undefined`.

Example:
[code]

[2016-10-14 12:06] seierstad commented on #44
@w0rm I think the preserveAspectRatio attribute should be copied from the original files svg elements to the sprite sheet symbols.

[2016-10-23 13:48] w0rm commented on #75
Hi! Sorry for the late reply, yeah, I confused `path` function argument and a `path` module that has [`path.sep`](https://nodejs.org/api/path.html#path_path_sep)

[2016-10-23 14:01] w0rm commented on #75
I updated the Readme.

[2016-10-23 14:01] #75 closed

[2016-10-23 14:12] w0rm commented on #74
Alternatively, you may use visuallyhidden from html5 boilerplate,

https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L128

[code]

[2016-10-23 14:12] #74 closed

[2016-10-23 14:44] w0rm commented on #66
I thought about this issue again, and I will keep the original implementation. I think it makes sense to have the combined file in the parent folder from the sources. If I change this logic then I have to bump the major version and educate the users about this breaking change and I don't really want to do this.

In any case, the destination path can be easily modified with `gulp-rename`

[2016-10-23 14:44] #66 closed

[2016-10-23 14:52] w0rm commented on #44
Speaking on the original use-case, setting e.g. `fill` on the symbol will prevent from changing it later for the `use` tag. So I don't think this should be ever supported.

[2016-10-23 14:52] #44 closed

[2016-10-23 20:34] ghetolay commented on #44
Setting `fill` on `symbol` can't be changed only on chrome.
But using `currentColor` works as you can [see here](http://codepen.io/anon/pen/bwzoZQ).

Original use case also was about not copying `viewBox` because it's useless on `symbol` tags (when used on browsers).

That being said I don't personnally need that feature anymore because now I'm inlining all svgs at load, like svg4everybody does fo

[2016-10-24 08:10] w0rm commented on #44
Considering Chrome userbase, this means you don't really need this feature. Usually you want to get rid of all the fills and just use `currentColor`, that you can apply with simple css `symbol { fill: currentColor; }` and not copy from the original sources.

[viewBox on symbol](https://developer.mozilla.org/en-US/docs/Web/SVG/Element/symbol) tags actually works as expected (as if you set it for th

[2016-10-25 20:51] bratliff opened #78 "Does Gulp svgstore allow for options like Grunt svgstore?"
I've been going through the implementation options for gulp svgstore, looking for ways to include task parameters as found in grunt svgstore.  I'm not sure if they're not available or if I'm just not implementing them correctly.

Is there a way to include things like preserveAspectRatio and viewbox in the gulp svgstore process like the following?

[code]
I tried to include the options in a similar

[2016-10-25 22:06] w0rm commented on #78
There are no options, but you can check "Transform svg sources or combined svg" section of the readme.

[2016-10-25 22:08] #78 closed

[2016-11-04 19:26] amie-wilt commented on #58
Same problem.
NodeJS: 5.7.1
NPM: 3.10.8
gulp-svgstore: 6.1.0

I fixed it by deleting node_modules as @namerci suggested.

[2016-11-24 14:19] nachtfunke opened #79 "viewbox attribute being removed?"
This is the Code I am using:

[code]

And so far, everything works fine, BUT all my svg's are not scaleable because the viewbox attribute is being removed. Can someone explain to me, why this is happening, or if I just have some sort of wrong mindset about this?

[2016-12-08 20:11] w0rm commented on #79
Hi! Svgstore should copy `viewBox` from a source svg to a corresponding symbol, [tested here](https://github.com/w0rm/gulp-svgstore/blob/master/test.js#L107).

Have you tried removing `svgmin` and seeing if the issue is there?

[2016-12-15 23:08] kaptenw opened #80 "gulp-cheerio vs cheerio"
Hi,

In both your [Transform svg sources or combined svg](https://github.com/w0rm/gulp-svgstore#transform-svg-sources-or-combined-svg) examples you're using [gulp-cheerio](https://github.com/KenPowers/gulp-cheerio). But in your [Extracting metadata from combined svg](https://github.com/w0rm/gulp-svgstore#extracting-metadata-from-combined-svg) example you're using the "regular" [cheerio](https://gi

[2016-12-16 09:47] w0rm commented on #80
@kaptenw can you setup a small example project that reproduces the issue with gulp-cheerio?

[2016-12-16 09:48] #79 closed

[2016-12-23 21:14] ganlanyuan opened #81 "Please don't remove the fill attribute in svg"
Hey,
Original svg code:
[code]
Sprite svg:
[code]
Gulp option:
[code]
The `fill` attribute is removed. Is there a way to prevent this happen?

[2017-01-13 00:25] danielrussellLA commented on #31
I had this same issue. problem was caused by `display:none;` - for some reason if you load the page and have an svg that is initially display:none; and you want to show that svg on hover, in firefox and IE, this messes up any linear gradient that you have on the svg. just avoid using display:none. instead find another way to hide the svg - like using negative z-index's or absolutely position the s

[2017-01-13 10:26] w0rm commented on #31
@danielrussellLA have you tried the approach from the Readme https://github.com/w0rm/gulp-svgstore#inlining-svgstore-result-into-html-body

[2017-01-28 16:19] #80 closed

[2017-02-03 12:17] dotmagic commented on #81
@ganlanyuan Why you need this attribute? It's much better to use CSS!
`.icons { fill: #fff; }`

[2017-02-03 14:42] ganlanyuan commented on #81
I'm using some icons which I downloaded previously.
Off course I can add the background-color manually, but consider If I have 100 icons with different fill color, how can I possibly manage them.
I expect gulp-svgstore just combine them together, don't remove the icons' original attribute.
Thanks anyway for the great plugin!

[2017-02-03 15:04] w0rm commented on #81
@ganlanyuan you can always pipe through gulp-cheerio and automate it.

[2017-02-03 18:20] ganlanyuan commented on #81
@w0rm Thanks
I moved the fill attribute from the `<svg>` to a new created top level `<g>` tag and then I run the gulp sprite command, got this error:
[code]
Is this related to the modification of the svg file?

[2017-02-04 10:43] w0rm commented on #81
@ganlanyuan sorry but this information is not enough to figure out the problem. Can you provide the svg file that does not work or a test project that reproduces the issue?

[2017-02-04 11:26] ganlanyuan commented on #81
Package.json
[code]
gulpfile.js
[code]
eye-fill.svg
[code]
And I got this error
[code]

[2017-02-04 11:50] w0rm commented on #81
This works for me:

[code]

your example was output in the same directory as the source files.

[2017-02-04 11:58] ganlanyuan commented on #81
Hmm, I get the same error even I updated the `gulp.dest`.

[2017-02-04 12:02] w0rm commented on #81
Can you give the exact code that you run? You can zip it or create a project on github

[2017-02-04 12:31] ganlanyuan commented on #81
After I delete the `node_modules/` folder and reinstall everything, the error disappeared.
Thanks a lot for your help!

[2017-02-04 12:31] #81 closed

[2017-02-04 12:37] w0rm commented on #81
@ganlanyuan cool that you figured this!

[2017-04-26 19:22] jayjo commented on #58
I'm experiencing this same issue. I've emailed unsoundscapes@gmail.com with a .zip file of the project.

[2017-05-08 15:14] oscarotero opened #82 "Apply class attribute to symbols"
Hi.

I have several svg icons, some are flat, others colorfull. I use the css classes `icon-color` and `icon-flat` to distinguish between them and apply custom styles. Example:

[code]

I need to keep these classes in the resulting sprite. Something like this:

[code]

Is there any way to handle this? It would be great to have an option to keep css classes in the result symbol (or having any way t

[2017-05-27 20:14] nicothin opened #83 ""viewBox → viewbox" is bad"
Bringing attributes to the lower case causes problems with resizing svg>use
![image](https://cloud.githubusercontent.com/assets/3499680/26524128/01a36448-4332-11e7-9951-aa0f12147b2e.png)

If the attribute `viewBox` is written in lowercase, the resizing of the icon does not work

[2017-05-28 07:47] w0rm commented on #83
Hi @nicothin! I'm not sure what is the issue, because `gulp-svgstore` doesn't rename viewBox to lowercase.

[2017-05-28 09:10] nicothin commented on #83
Sorry
This is the fault of cheerio.

[2017-05-28 09:10] #83 closed

[2017-05-28 09:20] w0rm commented on #83
@nicothin oh, you probably need `parserOptions: { xmlMode: true }` there

[2017-05-28 09:35] nicothin commented on #83
@w0rm TNX!!!

[2017-06-25 15:22] w3debugger opened #84 "<def><style> stops fill: anycolor"
I'm was trying to add color to icons but because of the `<defs><style>.a{fill:#666}</style>` I was unable to modify color. There should be a way to remove `<defs></defs>` after combining svg files.

[2017-06-26 14:30] w0rm commented on #84
@w3debugger having style tags in svg icons is a bad idea, because all styles end up in the combined file, and may override each other.

[2017-06-26 14:49] w0rm commented on #82
@oscarotero hi, sorry for the late reply.

Generally for flat icons you wouldn't want to style the symbol itself, but rather set the fill attribute on the use tag and make the symbol inherit the fill. To make this work you need to remove the fill attribute from everything in the icon https://css-tricks.com/cascading-svg-fill-color/

So you'll need to remove the fill from flat icons and keep it set

[2017-06-26 14:49] #82 closed

[2017-06-26 14:51] #84 closed

[2017-07-06 08:43] w3debugger commented on #84
I'm removing `<def><style>` manually after runny `gulp svgstore`. This  should be added in the script not manually. @w0rm

[2017-07-06 08:48] w0rm commented on #84
It should not be added to the script, because this may result in damaged/improperly styled icons that depend on the styles. Icons with `<style>` should not be used with this method.

[2017-07-19 22:02] ramaralo commented on #58
I had the same problem and I noticed there is a dependence to `cheerio`. After checking the installed `cheerio` I noticed only `cheerio-select` was installed.  Since the error was about a missing method (the `contents()`) I decided to install `cheerio` (`npm install cheerio`) and the error was solved.

[2017-09-11 14:36] muhamed87 opened #85 "defs included outside the symbol"
Hi guys,

I'm facing an issue when using the svgstore that the defs of all icons included in a global defs tag, then the icon symbols included under the defs.

As I don't need to include all icons in all pages because of the performance and due to the huge amount of icons we are using in the project we are working on, I have to include each group of icons in their pages so I get all the icons need

[2017-09-11 14:49] w0rm commented on #85
@muhamed87 the [defs must be outside the symbol](https://github.com/w0rm/gulp-svgstore/issues/31) there's nothing we can do about this.

I believe the solution would be to build multiple bundles.

[2017-09-12 15:13] muhamed87 commented on #85
well that mean I should have to create multiple bundles, what if I should have 50 or more bundles, that mean I should create about 50 gulp task to these bundles so that I can have a solution for my issue?!

Seems that it is not a good solution, as it is created and supported to use it as a gulp task that is already done to make automated tasks, and your suggestion makes me to create lots of gulp t

[2017-09-12 15:56] w0rm commented on #85
Isn't it what you need? To have a bundle for each page?

It doesn't necessary have to be multiple tasks, you can create multiple gulp streams in a single task and then merge them together.

[2017-09-13 09:42] muhamed87 commented on #85
Hey Andrey,

What if I commented the following code in the index.js

[code]
Because I think it fixes my issue and each symbol now has its own defs inside it

[2017-09-13 09:58] w0rm commented on #85
Did you read the thread that I linked to in my first comment? https://github.com/w0rm/gulp-svgstore/issues/31

[2017-09-13 09:58] #85 closed

[2017-11-23 14:43] KingScooty opened #86 "Defs cleanup?? Defs are missing after running svgstore"
I'm noticing all my svg's are getting stripped of their `<def>` tags at the svgstore step. Is `gulp-svgstore` doing any <def> cleanup? How do i turn it off?

I've tried using:
[code]

But i'm still having the problem.

Any ideas?

[2017-12-22 08:47] jonnitto opened #87 "gulp4 alpha.3"
If I run your plugin with gulp4 I got following error: `file.isSymbolic is not a function` It has to do with `vinyl-fs` version 3

[2017-12-23 00:53] saki007ster commented on #87
@jonnitto this is happening because gulp4 alpha.3 does not vinyl ^2.0 you might need to upgrade to vinyl ^2.1 also STOP using `gulp-util` - check - https://github.com/gulpjs/gulp/issues/2065

[2017-12-23 20:13] phated commented on #87
@saki007ster yep, this is using an insanely old Vinyl. It needs to stop using gulp-util (now deprecated) and use vinyl directly.

[2017-12-30 18:56] w0rm commented on #87
@phated if I update the plugin to use the lasted vinyl, will this still work with the old gulp?

[2017-12-31 15:24] w0rm commented on #86
[defs must be outside the symbol](https://github.com/w0rm/gulp-svgstore/issues/31) there's nothing we can do about this.

[2017-12-31 15:24] #86 closed

[2017-12-31 16:20] #87 closed

[2018-02-05 07:16] AlexSND commented on #58
thnx, ramaralo! it's work!

[2018-02-09 13:22] var-bin commented on #58
Hi @ramaralo,

I would like to say very big THANKS to you. Your comment has helped me to save a lot of hours of googling to try to figure out what's going on.

Cheers ;)

[2018-03-19 17:28] thesayyn commented on #81
Im facing with this issue also. it's useless, there should be option for remove it or not. i have bunch of svg icon how i can recolor all of them.

[2018-08-02 20:04] Shakarhaba opened #92 "Styling individual paths through css"
With this methods the CSS paths can not be styled individually.
Example:
https://jsfiddle.net/xn0e45q6/

[2018-08-03 10:04] w0rm commented on #92
That's true! Only 1 color can be changed.

[2018-08-03 10:04] #92 closed

[2018-08-28 19:59] gabrielschulhof opened #93 "Moving away from the Buffer constructor"
`new Buffer(...)` is deprecated and unsafe. Would it be possible to use `Buffer.from(...)` in the [relevant places](https://github.com/w0rm/gulp-svgstore/search?q=%22new+Buffer%22&unscoped_q=%22new+Buffer%22) instead?

[2018-08-28 20:06] w0rm commented on #93
I’m not sure. This would require dropping 0.12 support.

[2018-08-29 08:50] w0rm commented on #93
Released 7.0.0 that stops using `new Buffer()`

[2018-08-29 08:50] #93 closed

[2018-10-02 11:15] matthewnessworthy opened #94 "Content loaded via ajax shows empty icons"
With relation to https://stackoverflow.com/questions/44245032/svg-symbols-not-loading-with-ajax-content-in-chrome

Please can you include `xmlns:xlink="http://www.w3.org/1999/xlink"` in the `<svg/>` tag definition.

Currently when content containing is loaded via ajax, icons within the content are blank.

[2018-11-19 22:19] robmaurizi opened #95 "UnhandledPromiseRejectionWarning when more than one SVG in the source directory"
Using the gulp script from the readme, I'm getting UnhandledPromiseRejectionWarning error when more than one SVG is in the source directory.

`17:18:08] Starting 'svgstore'...
(node:58326) UnhandledPromiseRejectionWarning
(node:58326) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async function without a catch block, or by reje

[2018-11-19 22:35] robmaurizi commented on #95
Looks like it was SVGO required by svgmin.. I rolled my req's back to a prev. version and that seemed to take care of it.

[2018-11-19 22:35] #95 closed

[2018-12-21 14:12] w0rm commented on #94
@matthewnessworthy can you open a PR that adds it here: https://github.com/w0rm/gulp-svgstore/blob/master/index.js#L18 and updates the tests?

[2018-12-21 14:35] #94 closed

[2018-12-21 14:45] w0rm commented on #94
@matthewnessworthy thanks! Just published 7.0.1. I'm not sure what's happened to the usage tests

[2019-04-11 12:01] sergeymorkovkin opened #97 "Problem with globs"
Whenever we use a bit more comlex glob patter as compared to plugin example, sprite file naming convention breaks. For example, `./src/globals/sprites/**/*.svg` would name all resulting sprites "sprites.svg", since it's the last part before the glob pattern. Therefore, users can only have one sprite with your plugin. I'm using Gulp 4 and not sure about other versions.

[2019-04-11 12:11] sergeymorkovkin commented on #97
As a quick fix I recommend changing this:

`fileName = path.basename(file.base)`

to this:

`fileName = path.dirname(file.path)`

[2019-04-25 13:03] stowball opened #98 "Update README to propose automatic fix for `clipPath` issues"
I've just ran in to the `clipPath` issue which is mentioned in the README, so came up with a solution using cheerio which I feel would be good to add to the docs.

The following caters for multiple or no `<defs>` and `<clipPath>`s existing within `<defs>` or not, and combines them all in to 1 `<defs>` if necessary

[code]

[2019-06-13 09:55] prajith-ta opened #99 "No preview files available"
Please add a preview file for sprites like gulp-svg-sprites.

[2019-08-23 15:08] mpohalos commented on #82
Just revisiting this issue as i am also interested in adding class attribute to the svg sprite. Adding the class is not necessarily in order to style the symbol, but you could for example use the classes in order to implement a filter page for these icons.
Is this possible in any way?

Thank you.

[2019-08-28 07:55] mpohalos opened #100 "Combine svg's to sprite - apply class attribute to symbols"
As i am interested in a similar functionality of this #82 i want to ask about the following functionality.

So this svg
`
<svg version="1.1" viewBox="0 0 100 100" class="test">
   ...
</svg>
`

is stored in the sprite as follows

`
<svg>
   <symbol id="ico-arrow-down-long">
      ...
   </symbol>
</svg>
`
I cannot pass the class of each svg to the respective symbol that is created in the sprite.
C

[2020-01-16 15:39] francescostella commented on #83
For posterity and everyone reference here how to structure the options object, based on @w0rm solution:
[code]

[2020-02-27 06:26] f1eeman commented on #81
Hey,
Original svg code:
[code]
Sprite svg:
[code]

At first glance, everything is fine....

svg code in browser inserted via tag <include>:

`<svg id="icon-video-subtitles"><path _**fill="#454545"**_ d="M29 0H3C1.35 0 0 1.35 0 3v14c0 1.65 1.35 3 3 3h26c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3zM14.403 15.854a8.61 8.61 0 01-1.678.164 5.986 5.986 0 01-1.976-.323c-.623-.214-1.172-.562-1.646-1.041s-.852-1

[2020-02-27 06:38] f1eeman opened #101 "Incredible "fill" attribute"
original svg(without "fill" attribute):
[code]

sprite svg (without "fill" attribute):
[code]

At first glance, everything is fine...  :)

svg code with Incredible "fill" in browser instead via tag `<include>:`

`<svg id="icon-video-subtitles"><path fill="#454545" d="M29 0H3C1.35 0 0 1.35 0 3v14c0 1.65 1.35 3 3 3h26c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3zM14.403 15.854a8.61 8.61 0 01-1.678.164 5.98

[2020-05-01 11:05] w0rm commented on #99
I think generating previews from a bunch of svgs should be its own gulp plugin!

According to https://github.com/gulpjs/gulp/blob/master/docs/writing-a-plugin/guidelines.md

[2020-05-01 11:05] #99 closed

[2020-05-01 11:08] w0rm commented on #101
No idea! To test if plugin works correctly, compare the source svg file and the combined svg file. I doubt that this plugin adds any extra attributes.

[2020-05-01 11:08] #101 closed

[2020-05-01 11:17] w0rm commented on #97
Hi, I don't want to introduce breaking changes and solve too many use cases that can be addressed using other gulp plugins. I believe that `gulp-rename` provides the flexibility that you need.

From the readme:

[2020-05-01 11:17] #97 closed

[2020-05-01 11:22] w0rm commented on #100
How did you get a class name in the svg file and what do you need this for? If the class name ends up in the browser, it then will be conflicting with the existing classes and css styles on the page. What if two icons get the same class name? I am not sure about the need to support this.

[2020-05-01 11:22] #100 closed

[2020-05-01 11:30] w0rm commented on #98
@stowball thanks! I think this would grow the readme too much, I updated the readme to link to this solution.

[2020-05-01 11:30] #98 closed

[2020-06-09 11:11] bruha opened #104 "Name and link for html5boilerplate visuallyhidden class is obsolete in README"
Name and link for html5boilerplate visuallyhidden class is obsolete in README.md, should be changed to sr-only, see [pull request #103](https://github.com/w0rm/gulp-svgstore/pull/103)

[2020-06-14 21:18] #104 closed

[2021-01-13 11:15] RewriteH commented on #74
@w0rm it doesnt work normally with tables...
![Screenshot_1](https://user-images.githubusercontent.com/57995626/104445071-7d560700-55ba-11eb-8aa3-41aed07ff821.png)

[2021-02-12 01:32] Klarence opened #106 "Options for including title and desc tags"
More of a feature request than an issue.
It would be nice if there was an option for retaining the `title` and `desc` tags and their contents.

[2021-03-20 10:28] darsain opened #107 "Rendering issues due to <svg> style not being trasferred"
I've encountered several icons now build like this:

[code]

When passed through svgstore, paths get put into symbol, but the `style` tag on the `<svg>`  is ignored, which results in wrong compound path rendering:

![image](https://user-images.githubusercontent.com/538801/111866587-ce91c680-896e-11eb-9a53-76ba86fa2121.png)

If I just copy & paste the `style` tag onto the `<symbol>`, it fixes the i

[2021-03-20 11:57] w0rm commented on #107
Hi @darsain, you can try to pipe your svgs through `gulp-cheerio` and transform svg to introduce an extra `<g>` around the content and move the style attributes there.

[2021-03-20 12:52] darsain commented on #107
I did that manually for the couple of icons in question, but for future, any ETA on the fix so I can decide whether to bother with cheerio, or is this a wontfix for some reason?

[2021-06-11 14:44] IlyaShestakov opened #108 "css-what dependency is vulnerable to Denial of Service"
When using gulp-svgstore@7.0.1 npm audit reports:
[code]

**Proposed fix**
Upgrade the dependency on css-select to be ^4.1.3 since 4.1.3 bumps their dependency on css-what to 5.0.1 and fixes this issue.

[2021-06-19 08:49] w0rm commented on #108
Fixed in 8.0.0

[2021-06-19 08:49] #108 closed

[2021-09-22 22:18] yoggsoft commented on #64
A bit late in the conversation, but if you're not familiar with `gulp-rename`, it's just like:

[code]

[2021-11-21 11:32] w0rm commented on #107
Closed via #110

[2021-11-21 11:32] #107 closed

[2022-08-25 05:20] firefoxic opened #111 "Fork or pull request for migrate to stack?"
I wanted to change the code so that the plugin generates a stack sprite instead of a symbol sprite.

But the changes turned out to be very extensive, including removing the ability to inline a sprite in the markup and rewriting tests. And given that the principle of working with the plugin changes quite a lot (although it remains possible to insert external sprite icons through the `use` tag), I w

[2022-08-26 06:21] w0rm commented on #111
@firefoxic hi. I think a fork makes more sense.

[2022-09-05 11:01] firefoxic commented on #111
Done 🚀
[gulp-stacksvg](https://github.com/firefoxic/gulp-stacksvg)

[2022-09-07 07:28] #111 closed